<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWEbzhAg24yD_LCpySxQvMIQKOQKF1ouY</string>
	<key>GCM_SENDER_ID</key>
	<string>932481246765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intelligent.security</string>
	<key>PROJECT_ID</key>
	<string>intelligent-security</string>
	<key>STORAGE_BUCKET</key>
	<string>intelligent-security.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932481246765:ios:5f5f3e5e2e847705fa3aa4</string>
</dict>
</plist>